<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Startup Blog site</h1>
          <hr class="small">
          <span class="subheading">Together we can</span>
        </div>
      </div>
    </div>
  </div>
</header>


<p id="notice"><%= notice %></p>

<%- if user_signed_in?%>
<h1>Welcome <%= current_user.email %></h1>
<% end %>

<% @posts.each do |post| %>
<h2><%= link_to post.title, post %></h2>
<p><%= time_ago_in_words post.created_at %> ago</p>
<p><%= truncate post.text %></p>
<% end %>

<p>
  <%- if user_signed_in?%>
  <%= link_to 'New Post', new_post_path %>
  <%- else%>
  <%= link_to 'Log In', new_user_session_path %>
  <% end %>
</p>

<p>
  <%- if user_signed_in?%>
  <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
  <% end %>
</p>