<header class="intro-header header1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Together we can</h1>
          <hr class="small">
          <span class="subheading">Startup Blog site</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
  <%- if user_signed_in?%>
  <h1>Welcome <%= current_user.email %></h1>
  <% end %>

  <%- if user_signed_in?%>
  <h3 class="fa fa-file-text"><%= link_to 'New Post', new_post_path %></h3>
  <%- else%> 
  <h2 class="fa fa-user float-right"><%= link_to 'Log In', new_user_session_path %></h2>
  <% end %>

  <%- if user_signed_in?%>
  <h3 class="fa fa-sign-out float-right"><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></h3>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @posts.each do |post| %>
      <div class="post-preview">
        <h2 class="post-title">
          <%= link_to post.title, post %>
        </h2>
        <h4 class="post-subtitle">
          <%= truncate post.text, length:100 %>
        </h4>
        <p class="post-meta">Posted by <%= post.posted_by %> <%= time_ago_in_words post.created_at %> ago</p>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>