<header class="intro-header header1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Together we can</h1>
          <hr class="small">
          <span class="subheading">Startup Blog site</span>
        </div>
      </div>
    </div>
  </div>
</header>

<%- if user_signed_in?%>
<div class="center"> 
<h1>Welcome <%= current_user.email %></h1>
<% end %>
</div>
<div class="center">
<p>
  <%- if user_signed_in?%>
  <h3>
   <%= link_to 'New Post', new_post_path %></h3>
  <%- else%> 
  <h2><i class="fa fa-user"><%= link_to 'Log In', new_user_session_path %></i>
 </h2>
  </div>
  </p>
  <% end %> 
  
  <%- if user_signed_in?%><br>
  <h3>
  <i class="fa fa-sign-out">
  <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
  </i></h3>
  <% end %>
 
  
</p>
</div>
<div class="center">
<h2>All Blogs</h2>
</div>
<div >
  
<div class="container" id="content" tabindex="-1">
<div class="center">

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @posts.each do |post| %>
      <div class="post-preview">
        <h2 class="post-title">
          <%= link_to post.title, post %>
        </h2>
        <h4 class="post-subtitle">
        <%= truncate post.text, length:100 %>
        </h4>
        <p class="post-meta">Posted by <%= post.posted_by %> <%= time_ago_in_words post.created_at %> ago</p>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>