<header class="intro-header header1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Startup Blog site</h1>
          <hr class="small">
          <span class="subheading">Together we can</span>
        </div>
      </div>
    </div>
  </div>
</header>

<%- if user_signed_in?%>
<h1>Welcome <%= current_user.email %></h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @posts.each do |post| %>
      <div class="post-preview">
        <h2 class="post-title">
          <%= link_to post.title, post %>
        </h2>
        <h4 class="post-subtitle">
        <%= truncate post.text, length:100 %>
        </h4>
        <p class="post-meta">Posted by <%= post.posted_by %> <%= time_ago_in_words post.created_at %> ago</p>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>

<p>
  <%- if user_signed_in?%>
  <%= link_to 'New Post', new_post_path %>
  <%- else%>
  <%= link_to 'Log In', new_user_session_path %>
  <% end %>
</p>

<p>
  <%- if user_signed_in?%>
  <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
  <% end %>
</p>