<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<p id="notice"><%= notice %></p>

<h1>Welcome User</h1>

  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= truncate post.text %></p>
    <span><%= link_to 'Show', post %></span>
    <span><%= link_to 'Edit', edit_post_path(post) %></span>
    <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <% end %>

<br>

<%= link_to 'New Post', new_post_path %>

<%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>