<header class="intro-header header2">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1><%= @post.title %></h1>
					<span class="meta">Posted by <%= @post.posted_by %> <%= time_ago_in_words @post.created_at %> ago</span>
				</div>
			</div>
		</div>
	</div>
</header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<p>
					<%= @post.text %>
					
					<hr>
					<h4 class="fa fa-comments">Comments</h4>
					<hr>
					<% @post.comments.each do |comment| %>
            <div class="panel panel-primary">
              <div class="panel-heading"><%= comment.commented_by %></div>
              <div class="panel-body"><%= comment.text %></div>
              <div class="panel-footer">
                <div class="float-right"><%= time_ago_in_words comment.created_at %> ago</div>
                <% if user_signed_in? && (comment.commented_by == current_user.email) %>
                <%= link_to "Delete comment", [@post, comment], :method => :delete, data: {:confirm => "Are you sure?"} %>
                <% end %>
              </div>
            </div>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</article>

<% if user_signed_in?%>
  <%= form_for [@post, @post.comments.build] do |f| %>
    <div class="container lightbg">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h3>Leave a comment</h3>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Message</label>
                <%= f.text_area :text, rows: "5", class: "form-control", placeholder: "Comment" %>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
              <div class="form-group col-xs-12">
                <%= f.submit "Post comment", class: "btn btn-default" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>

<button><%= link_to "Back", posts_path %></button>
<% if user_signed_in?%>
  <button><%= link_to "Edit", edit_post_path(@post) %></button>
  <button><%= link_to "Delete", @post, :method => :delete, data: {:confirm => "Are you sure?"} %></button>
<% else%>
  <button><%= link_to 'Log In', new_user_session_path %></button>
<% end %>
<p>
  <% if user_signed_in? %>
    <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
  <% end %>
</p>